<div class="row mt-4">
    <div class="col-12">
        <section class="card card-table">
            <header class="card-header">
                <h3 class="card-title mb-0">{{ label }}</h3>
            </header>
            {{> charcoal/admin/widget/table }}
        </section>
    </div>
</div>
