<div class="col-6" id="{{ widgetId }}">
    <section class="card card-table">
        <header class="card-header">
            <h3 class="card-title mb-0">{{# _t }}Api information{{/ _t }}</h3>
        </header>
        <!--<div class="card-body">-->
        {{# tinifyData }}
            <table class="table table-contourless">
                <tbody>
                    <tr>
                        <th scope="row">{{# _t }}Compressions Count{{/ _t }}</th>
                        <td>{{ compressions_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{# _t }}Max Compressions{{/ _t }}</th>
                        <td>{{ max_compressions }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{# _t }}Compressed files{{/ _t }}</th>
                        <td>{{ num_compressed_files }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{# _t }}Uncompressed files{{/ _t }}</th>
                        <td>{{ num_uncompressed_files }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{# _t }}Total Size{{/ _t }}</th>
                        <td>{{ total_size }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{# _t }}Total Memory Saved{{/ _t }}</th>
                        <td>{{ total_memory_saved }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{# _t }}Compression percentage{{/ _t }}</th>
                        <td>{{ compression_percentage }} %</td>
                    </tr>
                </tbody>
            </table>
        {{/ tinifyData }}
        <!--</div>-->
        <footer class="card-footer">
            <button class="btn btn-lg btn-primary js-optimize-btn">
                <i class="fa fa-compress" aria-hidden="true">&nbsp;</i>
                <span class="btn-label">{{# _t }}Opimize{{/ _t }}</span>
            </button>
        </footer>
    {{> charcoal/admin/widget/inc.loader }}
    </section>
</div>

{{ assets.enqueue.js.tinify_js }}

{{# assets.inject.js }}
    Charcoal.Admin.manager().add_widget({
        id: '{{ widgetId }}',
        type: '{{ type }}',
        widget_type: '{{ type }}'
    });
{{/ assets.inject.js }}
