<section class="card card-table">
    <header class="card-header">
        <h3 class="card-title mb-0">{{# _t }}Api information{{/ _t }}</h3>
    </header>
    <table class="table" data-toggle="table" data-search="false" data-pagination="false" data-page-list="10,25,50,100,All" data-page-size="25">
        <thead>
        <tr>
            <th scope="col">{{# _t }}Key{{/ _t }}</th>
            <th scope="col">{{# _t }}Compressions Count{{/ _t }}</th>
            <th scope="col">{{# _t }}Max Compressions{{/ _t }}</th>
        </tr>
        </thead>
        <tbody>
        {{# tinifyData }}
            <tr>
                <td><strong>{{ key }}</strong></td>
                <td>{{ compressions_count }}</td>
                <td>{{ max_compressions }}</td>
            </tr>
        {{/ tinifyData }}
        </tbody>
    </table>
</section>
